*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #99f6ff;
}

.screen{
    height: 100vh;
}


.square{
    border: 3px solid black; 
    border-radius: 10px;
    height: 35px;
    width: 250px;
    line-height: 25px;
    
}